.content-container {
    min-height: 100vh;
}

.drawer {
    min-width: 300px;
    max-height: 100vh;
    overflow: scroll;
}

.results-container {
 margin: 0 50px;
 height: calc(100vh - 240px);
 overflow: scroll;   
}

.paginator {
    background: transparent;
}
