<form id="update-contact-name" [formGroup]="contactName">
    <div class="dialog-container">
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" />
        </mat-form-field>
        <button
            (click)="onSubmit()"
            class="submit-button"
            mat-flat-button
            color="primary"
        >
            Submit
        </button>
    </div>
</form>
